.loader {
	border-top-color: #3498db;
	-webkit-animation: spinner 1.5s linear infinite;
	animation: spinner 1.5s linear infinite;
}
.main-loader{
  z-index: 1000 !important;
}
@-webkit-keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

li .active-link{
	@apply border-b-2 border-blue-500
}
.active-link span{
	@apply text-white
}

.swal2-container.swal2-center>.swal2-popup{
	@apply text-sm
}